.intro
	margin 0 auto
	padding 0 1rem

	&__hed
		margin 0 auto
		max-width $column-width
		font-weight 700
		font-size 64px
		font-family $mono
		line-height 1

		+mq('bp-4')
			font-size 128px

		span
			// display block
			// color $tertiary

	&__dek
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center
		set-type-size(large, false)

	&__byline
		margin 0 auto
		margin-bottom 3rem
		max-width $column-width
		font-weight 700
		font-family $mono
		set-type-size(small)
		// a
		// margin-right 0.5em

	&__top
		position relative
		padding 6rem 0
		// background-color $secondary
		// clip-path polygon(0 0, 100% 0, 100% 80%, 0 100%)

	// &__bottom
	// padding-top 3rem
	&__prelude
		margin 0 auto
		max-width $column-width
		// padding 0

	&__images
		display flex
		justify-content center
		margin-top 2rem

		img
			width 10rem

			&:first-child
				margin-right 10rem

			&:last-child
				margin-left 2rem

	&__parts
		margin-top 4rem

		ul
			display flex
			flex-wrap wrap
			margin 0 auto
			max-width 40rem

		li
			display flex
			flex-direction column
			width 25%
			text-align center
			set-type-size(small)
