.intro
	margin 0 auto
	padding 0 1rem

	&__hed
		max-width $column-width
		margin 0 auto
		font-family $mono
		font-size 128px
		line-height 1
		font-weight 700
		span
			// display block
			color $secondary

		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size(large, false)
		
	&__byline
		max-width $column-width
		margin 0 auto
		set-type-size(small)
		font-family $mono
		font-weight 700
		margin-bottom 3rem
		// a
		// 	margin-right 0.5em

	&__top
		padding 6rem 0
		// background-color $secondary
		// clip-path polygon(0 0, 100% 0, 100% 80%, 0 100%)
	
	// &__bottom
	// 	padding-top 3rem

	&__prelude
		max-width $column-width
		margin 0 auto
		// padding 0
	
	&__images
		margin-top 2rem
		display flex
		justify-content center
		img
			width 10rem
			&:first-child
				margin-right 10rem
			&:last-child
				margin-left 2rem