.intro
	margin 0 auto

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		font-family $mono
		set-type-size(xxxxx-large, false)
		line-height 1
		font-weight 700
		letter-spacing 0em

		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size(large, false)
		
	&__byline
		max-width $column-width
		margin 0 auto
		set-type-size(small)
		font-family $mono
		a
			margin-right 0.5em

	&__time
		display block
		max-width $column-width
		margin 0 auto
		set-type-size(small)
		font-family $mono
		font-weight 700


	&__top
		padding 6rem 1rem
		background-color $secondary
		clip-path polygon(0 0, 100% 0, 100% 80%, 0 100%)
	
	&__bottom
		padding 3rem 1rem 1rem 1rem

	&__prelude
		max-width $column-width
		margin 0 auto
	
	&__images
		margin-top 2rem
		display flex
		justify-content center
		img
			width 10rem
			&:first-child
				margin-right 10rem
			&:last-child
				margin-left 2rem