#outro
	.parts
		margin-bottom 4rem

	a
		opacity 1

#method
	.section__info
		padding-bottom 0

		h2
			margin-bottom 0

	.prose
		padding 1rem
		border-top 2px solid $fg

	p
		set-type-size(medium, true)