#outro
	.parts
		margin-bottom 4rem

	a
		opacity 1

#method
	padding 0 1rem

	.section__info
		padding-bottom 0

		h2
			margin-bottom 0

	.prose
		padding 1rem
		background-color $off-white

	p
		set-type-size(medium, true)