#rank
	.content__instructions
		margin 0 auto
		padding-top 2rem
		max-width $column-width

		p
			margin 0

		p:first-of-type
			display block

		p:last-of-type
			display none
			color $primary

		&.is-answering
			p:first-of-type
				display none

			p:last-of-type
				display block

		.instructions
			set-type-size(medium, true)
			text-align center
			font-weight 700
			font-family $mono

	.content__figure
		margin 0 auto
		max-width $column-width
		opacity 0

		&.is-visible
			opacity 1

	.content__terms
		position relative
		display flex
		flex-wrap wrap
		margin 0 auto
		padding 2rem 0
		max-width 50rem

		li
			position relative

			&.is-complete
				opacity 0.33
				pointer-events none

			&.is-hidden
				opacity 0
				pointer-events none

			&.is-active
				position absolute
				opacity 1
				pointer-events none

				button
					background-color $primary
					color $white

					&:before
						background linear-gradient(to bottom, $primary 0%, $primary 100%)

		button
			position relative
			text-transform none

			&:before
				position absolute
				right -8px
				bottom 0
				z-index 0
				width 16px
				height 8px
				border-bottom-left-radius 8px
				background linear-gradient(to bottom, $white 0%, $white 100%)
				background-attachment fixed
				content ''

			&:after
				position absolute
				right -10px
				bottom 0
				z-index 1
				width 12px
				height 8px
				border-bottom-left-radius 8px
				background $bg
				content ''

			&:hover
				background-color $secondary

				&:before
					background linear-gradient(to bottom, $secondary 0%, $secondary 100%)

	.content__scale
		&.is-disabled
			opacity 0.33

		ul
			display flex
			justify-content space-between
			align-items flex-start
			margin 1rem auto
			max-width $perception-width

		li
			padding 0 0.5rem
			width 20%
			color darken($bg, 35)
			text-align center
			font-family $mono
			user-select none

			svg
				opacity 0.33

			&:nth-of-type(4) svg
				transform-origin 50% 100%
				animation waddle 2000ms ease-in-out alternate infinite

			&:last-of-type svg
				transform-origin 50% 100%
				animation roll 750ms ease-in-out alternate infinite

			&.is-active
				color $fg

				svg
					opacity 1

		span
			display block
			margin-top 0.5rem
			set-type-size(x-small, false)
			line-height 1.35

	.content__nav
		display flex
		flex-direction column
		justify-content center
		align-items center
		margin 0 auto
		padding 1rem 0
		max-width $column-width

		&.is-hidden
			visibility hidden

		.spacer
			padding 1rem 0

		button
			margin 0
			margin-bottom 0.5em

			&.is-disabled
				opacity 0.33
				cursor not-allowed

		.btn--submit
			text-transform uppercase
			set-type-size(x-large, false)
			visibility visible
			padding 0.5em 2em
			border-radius 32px

			&.is-hidden
				visibility hidden

			&.is-invisible
				visibility hidden

		.btn--skip, .btn--another
			background-color transparent
			set-type-size(small, false)
			text-transform none

			&:hover
				background-color $secondary

			&.is-hidden
				display none

			&.is-invisible
				visibility hidden

		.btn--skip
			font-weight 400

	.pudding-chart
		display block
		font-family $mono

		.term .path--area
			stroke none
			fill-opacity 0.75
			// fill $primary

		.term .path--line
			stroke $bg
			stroke-width 2px
			fill none

		.term .baseline
			stroke-width 2px
			stroke $fg

		text
			fill $fg
			set-type-size(root, false)
			font-weight 700

	figure .axis
		display flex
		justify-content space-between
		// background-color $green-dark
		padding-top 1rem
		font-family $mono

		p
			margin 0
			padding 0 2rem
			set-type-size(small, false)
			// text-align center
			width 50%
			color $fg
			line-height 1

			&:last-of-type
				text-align right

@keyframes waddle
	0%
		transform rotate(0)

	75%
		transform rotate(-1deg)

	85%
		transform rotate(1deg)

	95%
		transform rotate(-1deg)

	100%
		transform rotate(1deg)

@keyframes roll
	0%
		transform rotate(-5deg)

	100%
		transform rotate(5deg)