#perception
	.survey__instructions
		max-width $column-width
		margin 0 auto
		margin-top 2rem
		p
			margin 0
	
		p:first-of-type
			display block
		p:last-of-type
			display none
			color $primary
		
		&.is-answering
			p:first-of-type
				display none
			p:last-of-type
				display block

		.instructions
			set-type-size(medium, true)
			font-family $mono
			font-weight 700
			text-align center
		

	.survey__figure
		max-width $column-width
		margin 0 auto
		opacity 0
		&.is-visible
			opacity 1

	.survey__terms
		margin 0 auto
		padding 2rem 0
		max-width 50rem
		display flex
		flex-wrap wrap
		position relative

		li
			position relative
			// transition opacity 500ms ease-in-out
			&.is-hidden
				opacity 0
				button
					pointer-events none

			&.is-active
				opacity 1
				position absolute
				pointer-events none
				button
					background-color $primary
					color $white
					&:before
						background linear-gradient(to bottom, $primary 0%, $primary 100%)

			&.is-complete
				pointer-events none
				opacity 0.33

		button
			position relative
			text-transform none
			&:before
				content ''
				position absolute
				z-index 0
				bottom 0
				right -8px
				height 8px
				width 16px
				background linear-gradient(to bottom, $white 0%, $white 100%)
				background-attachment fixed
				border-bottom-left-radius 8px
			
			&:after
				content ''
				position absolute
				z-index 1
				bottom 0
				right -10px
				width 12px
				height 8px
				background $bg
				border-bottom-left-radius 8px

			&:hover
				background-color $secondary
				&:before
					background linear-gradient(to bottom, $secondary 0%, $secondary 100%)


	.survey__slider
		max-width $perception-width * 0.925
		margin 0 auto
		&.is-disabled
			opacity 0.33
		&.noUi-horizontal.is-disabled
			cursor not-allowed
			.noUi-handle
				cursor not-allowed

		&.noUi-target
			box-shadow none
			border-color $fg
			border-width 0
			border-radius 4px
			background-color rgba($fg, 0.25)
		
		&.noUi-horizontal
			cursor pointer
			height 8px

		.noUi-connect
			background-color $secondary

		.noUi-handle
			cursor pointer
			border-color $fg
			border-width 3px
			border-radius 50%
			width 32px
			height 32px
			top -12px
			background-color $white
			&:before
				display none
			&:after
				display none

	.survey__scale
		&.is-disabled
			opacity 0.33

		ul
			margin 1rem auto
			max-width $perception-width
			display flex
			justify-content space-between
			align-items flex-start
		
		li
			width 20%
			padding 0 0.5rem
			color darken($bg, 35)
			text-align center
			font-family $mono
			svg
				opacity 0.33
			&:nth-of-type(4) svg
				transform-origin 50% 100%
				animation waddle 2000ms ease-in-out alternate infinite 
			&:last-of-type svg
				transform-origin 50% 100%
				animation roll 750ms ease-in-out alternate infinite 
			&.is-active
				color $fg
				svg
					opacity 1

		span
			display block
			margin-top 0.5rem
			set-type-size(x-small, false)
			line-height 1.35
		

	.survey__nav
		padding 1rem 0
		max-width $column-width
		margin 0 auto
		display flex
		flex-direction column
		align-items center
		justify-content center
	
		&.is-hidden
			visibility hidden

		.spacer
			padding 1rem 0

		button
			margin 0
			margin-bottom 0.5em
			&.is-disabled
				opacity 0.33
				cursor not-allowed

		.btn--submit
			text-transform uppercase
			set-type-size(x-large, false)
			border-radius 32px
			padding 0.5em 2em
			visibility visible
			&.is-hidden
				visibility hidden
			&.is-invisible
				visibility hidden
		
		.btn--skip, .btn--another
			background-color transparent
			set-type-size(small, false)
			text-transform none
			&:hover
				background-color $secondary
			&.is-hidden
				display none
			&.is-invisible
				visibility hidden
		
		.btn--skip
			font-weight 400

	
	.pudding-chart
		display block
		font-family $mono
		
		.term .path--area
			stroke none
			fill-opacity 0.75
			// fill $primary
		
		.term .path--line
			stroke $bg
			stroke-width 2px
			fill none

		.term .baseline
			stroke-width 2px
			stroke $fg
		
		text
			fill $fg
			set-type-size(root, false)
			font-weight 700

		
	figure .axis
		display flex
		font-family $mono
		justify-content space-between
		// background-color $green-dark
		padding-top 1rem
		p
			margin 0
			padding 0 2rem
			set-type-size(small, false)
			line-height 1
			color $fg
			// text-align center
			width 50%
			&:last-of-type
				text-align right

@keyframes waddle
	0%
		transform rotate(0)
	75%
		transform rotate(-1deg)
	85%
		transform rotate(1deg)
	95%
		transform rotate(-1deg)
	100%
		transform rotate(1deg)

@keyframes roll
	0%
		transform rotate(-5deg)
	100%
		transform rotate(5deg)