#perception
	.section__steps
		background linear-gradient(to left, $secondary 49%, $primary 51%)
	
	.steps__inner
		max-width 80rem
		margin 0 auto
		display flex
		justify-content center

	.step
		padding 1rem

	.steps__pick
		width 30%
		background-color $primary
	
	.steps__answer
		width 70%
		background-color $secondary
		position relative

	.step__figure
		max-width $column-width
		margin 0 auto
		opacity 0
		&.is-visible
			opacity 1
		
		text
			display none

	.step__terms
		margin 0 auto
		max-width $column-width
		display flex
		flex-wrap wrap
		.btn
			// border none
			// position relative
			// padding 0.25em 0.5em
			// &:before
			// 	content ''
			// 	position absolute
			// 	z-index 0
			// 	bottom 0
			// 	right -8px
			// 	height 10px
			// 	width 12px
			// 	background linear-gradient(to bottom, $white 0%, $white 100%)
			// 	background-attachment fixed
			// 	border-bottom-left-radius 6px
				
			// &:after
			// 	content ''
			// 	position absolute
			// 	z-index 1
			// 	bottom 0
			// 	right -10px
			// 	width 10px
			// 	height 10px
			// 	background $primary
			// 	border-bottom-left-radius 8px
			.is-complete
				opacity 0.33
				cursor not-allowed


	.step__slider
		max-width $column-width * 0.925
		margin 0 auto
		&.is-disabled
			opacity 0.5
		&.noUi-horizontal.is-disabled
			cursor not-allowed
		.noUi-handle.is-disabled
			cursor not-allowed

		&.noUi-target
			box-shadow none
			// border none
			border-color $gray
			border-width 2px
			border-radius 4px
			background-color $off-white
		
		&.noUi-horizontal
			cursor pointer

		.noUi-connect
			background-color $gray-dark

		.noUi-handle
			cursor pointer
			border-color $gray-dark
			border-width 2px
			border-radius 8px
			background-color $white
			&:before
				display none
			&:after
				display none

	.step__scale
		&.is-disabled
			opacity 0.5

		ul
			margin 1rem auto
			max-width $column-width
			display flex
			justify-content space-between
			align-items flex-start
		
		li
			width 20%
			padding 0 0.5rem
			color darken($secondary, 35)
			&:nth-of-type(4) svg
				transform-origin 50% 100%
				animation waddle 2000ms ease-in-out alternate infinite 
			&:last-of-type svg
				transform-origin 50% 100%
				animation roll 750ms ease-in-out alternate infinite 
			&.is-active
				filter grayscale(0)
				color darken($secondary, 50)

		span
			display block
			margin-top 0.5rem
			set-type-size(x-small, false)
			line-height 1.35

	.step__instructions
		set-type-size(root)
		font-family $mono
		color $fg
		max-width $column-width
		margin 1rem auto


	.step__submit
		text-align center
		padding 1rem 0
		position absolute
		width 100%
		bottom $chart-height * 0.75
		left 0
		transform translateY(50%)

		&.is-hidden
			display none
	
	.section__skip
		margin-top 3rem
		text-align center
	
	.pudding-chart
		background-color $green-dark
		display block
		font-family $mono
		
		.term .path--area
			stroke none
			fill-opacity 0.75
			// fill $primary
		
		.term .path--line
			stroke $green-dark
			stroke-width 2px
			fill none
		
		text
			fill $white
			set-type-size(large, false)
			font-weight 700
		
	figure .axis
		display flex
		font-family $mono
		justify-content space-between
		background-color $green-dark
		padding-top 1rem
		p
			margin 0
			padding 0 1rem
			set-type-size(small, false)
			line-height 1
			color $white
			text-align center
			width 50%

@keyframes waddle
	0%
		transform rotate(0)
	75%
		transform rotate(-1deg)
	85%
		transform rotate(1deg)
	95%
		transform rotate(-1deg)
	100%
		transform rotate(1deg)

@keyframes roll
	0%
		transform rotate(-5deg)
	100%
		transform rotate(5deg)