#perception
	.figure__slider
		max-width $column-width
		margin 0 auto
		margin-top 2rem

		&.noUi-target
			box-shadow none
			border none
			background-color $off-white
		
		&.noUi-horizontal
			cursor pointer

		.noUi-connect
			background-color $fg

		.noUi-handle
			outline none
			cursor pointer
			&:before
				display none
			&:after
				display none
		

	.figure__terms
		margin 2rem auto
		max-width $column-width
		display flex
		justify-content center
		flex-wrap wrap
		
		button
			font-family $mono
			background-color $off-white
			padding 0.25em 0.5em
			line-height 1
			border-radius 16px
			margin 0.5rem
			border 2px solid $gray
			&:hover
				background-color $secondary
			&.is-active
				background-color $secondary
			&.is-complete
				cursor not-allowed
				opacity 0.5

	.figure__scale
		ul
			margin 1rem auto
			max-width $column-width
			display flex
			justify-content center
			align-items flex-end
		li
			padding 0 3.25rem
			&:first-of-type
				padding-left 0
			&:last-of-type
				padding-right 0
