#share .chart-lower
	margin-bottom 4rem

	figure
		margin 1rem auto
		min-height 280px

	svg
		display block
		margin 0 auto
		cursor crosshair

	text
		font-weight 600
		font-family $mono
		pointer-events none
		user-select none

	.leaf.is-hidden
		opacity 0.33

	.text-id--bg
		fill none
		stroke $fg
		stroke-width 2px
		stroke-opacity 0.75

	.text-id--fg
		fill $fg

	.text-share--bg
		fill none
		stroke $fg
		stroke-width 2px
		stroke-opacity 0.75

	.text-share--fg
		fill $fg

	.text-count--bg
		fill none
		stroke $fg
		stroke-width 2px
		stroke-opacity 0.75

	.text-count--fg
		fill $fg

	rect
		stroke-width 4px
		stroke-width 2px
		stroke $fg

	.leaf--lol
		rect
			fill $c-lol
			stroke darken($c-lol, 25)

		.text-id--bg, .text-share--bg, .text-count--bg
			stroke darken($c-lol, 0)
			// stroke white

	.leaf--ha
		rect
			fill $c-ha
			stroke darken($c-ha, 20)

		.text-id--bg, .text-share--bg, .text-count--bg
			stroke darken($c-ha, 0)
			// stroke white

	.leaf--acronym
		rect
			fill $c-acronym
			stroke darken($c-acronym, 20)

		.text-id--bg, .text-share--bg, .text-count--bg
			stroke darken($c-acronym, 0)
			// stroke white

	.leaf--other
		rect
			fill $c-other
			stroke darken($c-other, 10)

		.text-id--bg, .text-share--bg, .text-count--bg
			stroke darken($c-other, 0)
			// stroke white

	.leaf--text
		rect
			fill $c-text
			stroke darken($c-text, 20)

		.text-id--bg, .text-share--bg, .text-count--bg
			stroke darken($c-text, 0)
			// stroke white

	.header__key
		display flex
		justify-content center
		padding 0 1rem

		li
			padding 0.5em
			line-height 1
			set-type-size(x-small, false)
			width 4rem
			text-align center
			font-weight 600
			font-family $mono

			+mq('bp-4')
				width 6rem
				set-type-size(small, false)

		.key--lol
			background-color $c-lol

		.key--ha
			background-color $c-ha

		.key--acronym
			background-color $c-acronym

		.key--text
			background-color $c-text

		.key--other
			background-color $c-other

	.lower__note
		set-type-size(root, true)
		margin 0 auto
		padding 0 1rem
		max-width $column-width

		span
			border-bottom 1px solid currentColor
			cursor pointer

	.lower__table
		padding 1rem

	table
		margin 0 auto
		max-width 40rem
		width 100%

		&.is-hidden
			display none

		td, th
			set-type-size(x-small, false)
			padding 0.5em
			border-bottom 1px solid $gray-light
			font-family $mono
			line-height 1

			+mq('bp-4')
				set-type-size(small, false)

		tr.laugh--lol
			background-color rgba($c-lol, 0.33)

		tr.laugh--ha
			background-color rgba($c-ha, 0.33)

		tr.laugh--acronym
			background-color rgba($c-acronym, 0.33)

		tr.laugh--text
			background-color rgba($c-text, 0.33)

		tr.laugh--other
			background-color rgba($c-other, 0.33)

		th
			text-transform uppercase
			font-weight 600

		.td--sumShare, .td--sumCount, .th--sumShare, .th--sumCount
			text-align right

		.td--sumCount, .th--sumCount
			display none

			+mq('bp-4')
				display table-cell