#share .chart-case
	figure
		margin 2rem auto
		margin-top 0

	.case__header
		margin 1rem auto
		margin-top 2rem
		padding 1rem 0
		font-family $mono

	.header__toggle
		display flex
		justify-content center
		margin-bottom 1rem

	.header__slider
		margin 0 auto
		min-width 10rem
		width 25%

	.slider-label
		margin 1rem auto
		min-width 10rem
		width 25%
		text-align center
		text-transform uppercase
		set-type-size(small, false)
		position relative
		font-weight 600

		&:before
			position absolute
			top 0
			left 0
			display inline-block
			content '-'

		&:after
			position absolute
			top 0
			right 0
			display inline-block
			content '+'

	button
		width 8rem

	.header__key
		display flex
		justify-content center
		margin-top 2rem

		li
			padding 0.5em
			line-height 1
			set-type-size(small, false)
			width 6rem
			border 2px solid $fg
			text-align center
			font-weight 600

		span
			display block
			transform translateY(-175%)

		li:first-of-type
			border-right none
			background-color $grey
			color $fg

		li:last-of-type
			background repeating-linear-gradient(
				45deg,
				transparent,
				transparent 2px,
				$fg 2px,
				$fg 4px
			)
			color $fg
			text-transform uppercase

	figure
		margin 0 auto
		min-height 320px
		max-width 60rem
		font-family $mono

		ul
			position relative
			display block
			height 100%

		li
			position absolute
			top 0
			left 0
			display flex
			width 100%
			border 4px solid $fg
			user-select none

			&.is-text
				.lower p
					opacity 1

			&.is-stripe
				.upper
					background repeating-linear-gradient(
						45deg,
						transparent,
						transparent 4px,
						$fg 4px,
						$fg 8px
					)

		div
			position relative
			margin 0

		p
			position absolute
			top 50%
			left 1rem
			display none
			margin 0
			color $white
			color $fg
			font-weight 600
			font-size inherit
			line-height 1
			transform translateY(-50%)

		.share
			margin-left 0.75em
			font-size 0.5em
			opacity 0.5

		.upper
			background $fg

			p
				display none

		.lower
			background-color $fg

			p
				display block
				color $fg
				opacity 0
				transition opacity 250ms ease-in-out

	figure li
		&.family--lol
			// border-color darken($c-lol, 25)
			.lower
				border-right 4px solid $fg
				background-color $c-lol

		&.family--ha
			// border-color darken($c-ha, 20)
			.lower
				border-right 4px solid $fg
				background-color $c-ha

		&.family--acronym
			// border-color darken($c-acronym, 20)
			.lower
				border-right 4px solid $fg
				background-color $c-acronym

		&.family--other
			// border-color darken($c-other, 20)
			.lower
				border-right 4px solid $fg
				background-color $c-other

		&.family--text
			// border-color lighten($c-text, 30)
			.lower
				border-right 4px solid $fg
				background-color $c-text

	.header__toggle
		display none