#share .chart-case
	figure
		margin 2rem auto
		margin-top 0
		padding 0.5rem 3rem 0 3rem
		min-height 320px

	.case__header
		margin 1rem auto
		margin-top 2rem
		padding 1rem 0
		font-family $mono

	.header__toggle
		display flex
		justify-content center
		margin-bottom 1rem

	.header__slider
		margin 0 auto
		max-width 22rem
		width 90%

	.slider-label
		margin 1rem auto
		max-width 22rem
		width 90%
		text-align center
		text-transform uppercase
		set-type-size(small, false)
		position relative
		font-weight 600

		span
			display none

			+mq('bp-4')
				display inline

		&:before
			set-type-size(xx-small, false)
			position absolute
			top 50%
			left 0
			display inline-block
			content '- (higher share)'
			transform translateY(-50%)

		&:after
			set-type-size(xx-small, false)
			position absolute
			top 50%
			right 0
			display inline-block
			content '(lower share) +'
			transform translateY(-50%)

	.slider
		.noUi-pips
			padding 8px
			height 40px

		.noUi-value
			set-type-size(x-small, false)
			color $gray-dark

		.noUi-marker-horizontal
			height 8px
			background $gray-light

	button
		width 8rem

	.header__key
		display flex
		justify-content center
		margin-top 2rem

		li
			padding 0.5em
			line-height 1
			set-type-size(small, false)
			position relative
			width 6rem
			border 2px solid $fg
			text-align center
			font-weight 600

		.label
			display block
			transform translateY(-175%)

		.usage
			position absolute
			top 50%
			display block
			color $gray-dark

		li:first-of-type
			border-right none
			background-color $grey
			color $fg

			.usage
				left 0
				transform translate(-125%, -50%)

		li:last-of-type
			background repeating-linear-gradient(
				45deg,
				transparent,
				transparent 2px,
				$fg 2px,
				$fg 4px
			)
			color $fg
			text-transform uppercase

			.usage
				right 0
				transform translate(125%, -50%)

	figure
		position relative
		margin 0 auto
		min-height 320px
		max-width 60rem
		font-family $mono

		.annotation
			position absolute
			right 0
			bottom 0
			margin 0
			width 10rem
			set-type-size(small, false)
			padding 0 1rem
			transform translateX(100%)

			&.is-hidden
				display none

		ul
			position relative
			display block
			height 100%

		li
			position absolute
			top 0
			left 0
			display flex
			width 100%
			border 4px solid $fg
			user-select none

			&.is-text
				.share
					opacity 1

				.lower p
					opacity 1

			&.is-stripe
				.upper
					background repeating-linear-gradient(
						45deg,
						transparent,
						transparent 2px,
						$fg 2px,
						$fg 4px
					)

		div
			position relative
			margin 0

		p
			position absolute
			top 50%
			left 1rem
			display none
			margin 0
			color $white
			color $fg
			font-weight 600
			font-size inherit
			line-height 1
			transform translateY(-50%)

		.count
			margin-left 0.75em
			font-size 0.5em
			opacity 0.5

		.share
			position absolute
			top 50%
			color $gray-dark
			font-weight 600
			font-size 10px
			opacity 0

			+mq('bp-4')
				font-size 12px

		.upper
			background $white

			.share
				right 0
				width 3rem
				text-align left
				transform translate(125%, -50%)

			p
				display none

		.lower
			background-color $fg

			.share
				left 0
				width 3rem
				text-align right
				transform translate(-125%, -50%)

			p
				display block
				color $fg
				line-height 1
				opacity 0
				transition opacity 250ms ease-in-out

	figure li
		&.family--lol
			// border-color darken($c-lol, 25)
			.lower
				border-right 4px solid $fg
				background-color $c-lol

		&.family--ha
			// border-color darken($c-ha, 20)
			.lower
				border-right 4px solid $fg
				background-color $c-ha

		&.family--acronym
			// border-color darken($c-acronym, 20)
			.lower
				border-right 4px solid $fg
				background-color $c-acronym

		&.family--other
			// border-color darken($c-other, 20)
			.lower
				border-right 4px solid $fg
				background-color $c-other

		&.family--text
			// border-color lighten($c-text, 30)
			.lower
				border-right 4px solid $fg
				background-color $c-text

	.header__toggle
		display none