#share .chart-lower
	figure
		margin 4rem auto

	svg
		display block
		margin 0 auto

	text
		font-weight 600
		font-family $mono

	.text-id--bg
		fill none
		stroke $fg
		stroke-width 5px

	.text-id--fg
		// stroke none
		fill $fg

	rect
		stroke-width 2px
		// stroke $fg

	.leaf--lol
		rect
			fill $yellow
			stroke darken($yellow, 25)

		.text-id--bg
			stroke darken($yellow, 0)

	.leaf--ha
		rect
			fill $green
			stroke darken($green, 20)

		.text-id--bg
			stroke darken($green, 0)

	.leaf--acronym
		rect
			fill $red
			stroke darken($red, 20)

		.text-id--bg
			stroke darken($red, 0)

	.leaf--other
		rect
			fill $orange
			stroke darken($orange, 20)

		.text-id--bg
			stroke darken($orange, 0)

	.leaf--text
		rect
			fill $blue
			stroke lighten($blue, 20)

		.text-id--fg
			stroke lighten($blue, 0)

#share .chart-case
	figure
		margin 4rem auto

	.case__header
		margin 4rem auto
		padding 1rem 0
		font-family $mono

	.header__toggle
		display flex
		justify-content center
		margin-bottom 1rem

		button
			width 8rem

	.header__key
		display flex
		justify-content center

		li
			padding 0.5em
			text-transform uppercase
			line-height 1
			set-type-size(small, false)
			font-weight 600

		li:first-of-type
			background-color $gray-dark
			color $white

		li:last-of-type
			background-color $gray
			color $white

	figure
		overflow hidden
		margin 0 auto
		min-height 320px
		max-width 60rem
		font-family $mono

		ul
			position relative
			display block
			overflow hidden
			height 100%
			border-bottom 4px solid $fg

		li
			position absolute
			top 0
			left 0
			display flex
			width 100%
			border-top 4px solid $fg
			border-right 4px solid $fg
			border-left 4px solid $fg

			// border-top 2px solid $bg
			&.is-visible
				.lower span
					display block

		div
			position relative
			margin 0

		span
			position absolute
			top 50%
			left 1rem
			display none
			color $white
			color $fg
			font-weight 600
			line-height 1
			transform translateY(-50%)

		.upper
			background repeating-linear-gradient(
				45deg,
				$bg,
				$bg 4px,
				$fg 4px,
				$fg 8px
			)

			span
				display none

		.lower
			background-color $fg

			span
				color $fg

	figure li
		&.family--lol
			// border-color darken($yellow, 25)
			.lower
				border-right 4px solid $fg
				background-color $yellow

			.upper
				background repeating-linear-gradient(
					45deg,
					$yellow,
					$yellow 4px,
					$fg 4px,
					$fg 8px
				)

		&.family--ha
			// border-color darken($green, 20)
			.lower
				border-right 4px solid $fg
				background-color $green

			.upper
				background repeating-linear-gradient(
					45deg,
					$green,
					$green 4px,
					$fg 4px,
					$fg 8px
				)

		&.family--acronym
			// border-color darken($red, 20)
			.lower
				border-right 4px solid $fg
				background-color $red

			.upper
				background repeating-linear-gradient(
					45deg,
					$red,
					$red 4px,
					$fg 4px,
					$fg 8px
				)

		&.family--other
			// border-color darken($orange, 20)
			.lower
				border-right 4px solid $fg
				background-color $orange

			.upper
				background repeating-linear-gradient(
					45deg,
					$orange,
					$orange 4px,
					$fg 4px,
					$fg 8px
				)

		&.family--text
			// border-color lighten($blue, 30)
			.lower
				border-right 4px solid $fg
				background-color $blue

			.upper
				background repeating-linear-gradient(
					45deg,
					$blue,
					$blue 4px,
					$fg 4px,
					$fg 8px
				)

			span
				color $white
