#share .chart-lower
	text
		font-weight 600
		font-family $mono

	rect
		stroke-width 2px
		stroke $fg

#share .chart-case
	.case__header
		padding 1rem 0
		font-family $mono

	.header__toggle
		display flex
		justify-content center
		margin-bottom 1rem

		button
			width 8rem

	.header__key
		display flex
		justify-content center

		li
			padding 0.5em
			text-transform uppercase
			line-height 1
			set-type-size(small, false)
			font-weight 600

		li:first-of-type
			background-color $gray-dark
			color $white

		li:last-of-type
			background-color $gray
			color $white

	figure
		overflow hidden
		margin 0 auto
		min-height 320px
		max-width 60rem
		font-family $mono

		ul
			position relative
			display block
			height 100%

		li
			position absolute
			top 0
			left 0
			display flex
			margin-bottom 1px
			width 100%
			border 1px solid $bg

			&.is-visible
				.lower span
					display block

		div
			position relative
			margin 0

		span
			position absolute
			top 50%
			left 1rem
			display none
			color $white
			font-weight 600
			line-height 1
			transform translateY(-50%)

		.upper
			background-color $gray

			span
				display none

		.lower
			background-color $gray-dark
