/* CUSTOM STORY STYLE */
body
	font-family $sans

section
	margin 3rem auto

q
	// background-color rgba($secondary, 0.5)

.section__info
	padding 3rem 0

	h2
		margin 2rem auto 4rem auto
		padding 0 1rem
		max-width $column-width
		font-weight 600
		font-family $mono
		set-type-size(x-large, true)
		text-align center
		line-height 1.2

		+mq('bp-4')
			set-type-size(xxx-large, true)

		span
			display block
			width 2.5rem
			height 2.5rem
			background-color $secondary
			text-align center
			line-height 2.25rem
			set-type-size(large, false)
			margin 0 auto
			margin-bottom 0.5rem
			border 2px solid $fg

	p
		margin 0 auto
		max-width $column-width

	.note
		display block
		margin-top 1em
		set-type-size(root, true)
		color $gray-dark

.btn
	margin 0.5rem
	padding 0.5em 0.75em
	border-radius 24px
	background-color $white
	text-transform uppercase
	font-weight 700
	font-family $mono
	line-height 1
	user-select none

	&:hover
		background-color $secondary

	&.is-active
		border-color $fg
		background-color $secondary

	&--border
		border 3px solid $fg
		background-color transparent

.prose
	margin-top 1rem
	padding 0 1rem

	// border 4px solid $fg
	// background-color $white
	// box-shadow 8px 8px 0 0 $fg
	p
		margin-top 0
		max-width none
		set-type-size(large, true)

		+mq('bp-4')
			set-type-size(x-large, true)

.slider
	margin 0 auto
	max-width $perception-width * 0.925

	&.is-disabled
		opacity 0.33

	&.noUi-horizontal.is-disabled
		cursor not-allowed

		.noUi-handle
			cursor not-allowed

	&.noUi-target
		border-width 0
		border-color $fg
		border-radius 4px
		background-color rgba($fg, 0.25)
		box-shadow none

	&.noUi-horizontal
		height 8px
		cursor pointer

	.noUi-connect
		background-color $secondary

	.noUi-handle
		top -12px
		width 32px
		height 32px
		border-width 3px
		border-color $fg
		border-radius 50%
		background-color $white
		cursor pointer

		&:before
			display none

		&:after
			display none

#share
	overflow hidden

.chart-title
	margin-bottom 1rem
	padding 0 1rem
	text-align center
	font-weight 600
	font-family $mono
	line-height 1.2

.parts
	margin-top 2rem
	padding 0 1rem

	div
		// display flex
		flex-wrap wrap
		justify-content center
		margin 0 auto
		max-width 30rem

	a
		display flex
		align-items center
		margin-bottom 1rem
		width 100%
		border-bottom 2px solid $fg
		line-height 1
		opacity 0.5
		pointer-events none

		&.is-live
			opacity 1
			pointer-events auto

	span
		display block
		font-weight 400
		font-family $mono
		transform translateY(2px)

		&:last-of-type
			margin-bottom 0

	.part__index
		padding 0
		width 2.5rem
		height 2.5rem
		border 2px solid $fg
		background-color $secondary
		text-align center
		font-weight 600
		line-height 2.25rem

	.part__title
		flex-grow 1
		// font-weight 600
		margin-left 1em

	.part__release
		font-size 0.75em
