/* CUSTOM STORY STYLE */
section
	margin 3rem auto
	
.section__info
	padding 6rem 1rem 3rem 1rem
	background-color $primary
	clip-path polygon(0 0, 100% 20%, 100% 100%, 0 100%)
	
	h2
		font-family $mono
		font-weight 700
		max-width $column-width
		margin 0 auto
		set-type-size(xx-large, false)
	h4
		max-width $column-width
		margin 0 auto
		set-type-size(large, false)

	
