<section id='{{slug}}'>
	{{#if live }}
		<div class='section__info'>
			<h2><span>{{{index}}}</span>{{{title}}}</h2>
			<div class='prose'>
				<p>{{{description}}}</p>
			</div>
		</div>

		<div class='section__content'>
			{{#ifEquals slug 'share'}}{{> story/part-share @root.doc.share }}{{/ifEquals}}
			{{#ifEquals slug 'lol'}}{{> story/part-lol @root.doc.lol }}{{/ifEquals}}
			{{#ifEquals slug 'rank'}}{{> story/part-rank @root.doc.rank }}{{/ifEquals}}
			{{#ifEquals slug 'review'}}{{> story/part-review @root.doc.review }}{{/ifEquals}}
		</div>
	{{/if }}
</section>
	