<div class='chart-title'>{{{@root.doc.lol.chartTitle}}}</div>
<figure>
	<img src='assets/images/intro/lol.png'>
</figure>

<div class='prose'>
	{{#each @root.doc.lol.tween}}
		<p>{{{value}}}</p>
	{{/each}}
</div>