<div class='chart-lower'>
	<div class='lower__header'>
		<h4 class='header__title chart-title'>{{{@root.doc.share.chartLowerTitle}}}</h4>
		<ul class='header__key'>
			<li class='key--lol'>lol</li>
			<li class='key--ha'>ha</li>
			<li class='key--acronym'>acronym</li>
			<li class='key--other'>other</li>
			<li class='key--text'>text</li>
		</ul>
	</div>
	
	<figure></figure>
	<p class='lower__note'>Note: {{@root.doc.share.lowerNote}}</p>
</div>

<div class='prose'>
	{{#each @root.doc.share.tween}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

<div class='chart-case'>
	<div class='case__header'>
		<h4 class='header__title chart-title'>{{{@root.doc.share.chartCaseTitle}}}</h4>
	
		<ul class='header__key'>
			<li><span class='usage'>50%</span><span class='label'>lowercase</span></li>
			<li><span class='label'>Uppercase</span><span class='usage'>50%</span></li>
		</ul>

		<ul class='header__toggle'>
			<p>Sort by</p>
			<li><button class='btn btn--border is-active'>Usage</button></li>
			<li><button class='btn btn--border'>Ratio</button></li>
		</ul>

		<p class='slider-label'>Zoom Level</p>

		<div class='header__slider slider'></div>
	</div>

	<figure>
	</figure>	
</div>


