<div class='chart-lower'>
	<figure></figure>
</div>

<div class='prose'>
	{{#each @root.doc.share.tween}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

<div class='chart-case'>
	<div class='case__header'>
		<ul class='header__toggle'>
			<li><button class='btn btn--border is-active'>All</button></li>
			<li><button class='btn btn--border'>&lt; 10%</button></li>
			<li><button class='btn btn--border'>&lt; 0.5%</button></li>
			<li><button class='btn btn--border'>&lt; 0.1%</button></li>
		</ul>
		
		<ul class='header__key'>
			<li>Lowercase</li>
			<li>Uppercase</li>
		</ul>
	</div>

	<figure>
	</figure>	
</div>


