<section id='perception'>
	<div class='section__info'>
		<h2>{{{doc.perception.hed}}}</h2>
		<h4>{{{doc.perception.dek}}}</h4>
	</div>
	<figure class='section__figure'>
		<ul class='figure__terms'>
			{{#each doc.perception.terms}}
			<li><button class='btn'>{{this}}</button></li>
			{{/each}}
		</ul>
		<div class='figure__slider slider'></div>
		<div class='figure__scale'>
			<ul>
				<li><img src='assets/images/scale/1.png'></li>
				<li><img src='assets/images/scale/3.png'></li>
				<li><img src='assets/images/scale/5.png'></li>
				<li><img src='assets/images/scale/8.png'></li>
				<li><img src='assets/images/scale/10.png'></li>
			</ul>
		</div>
	</figure>
</section>